html {
  height: 100%; }

body {
  background-image: none !important;
  background: linear-gradient(262deg, #f9dcc4, #cbc0d3) !important;
  background-size: 400% 400%;
  width: 100% !important;
  height: 100% !important;
  position: relative; }

@keyframes backgroundAnimation_cart {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  body header {
    background-color: rgba(11, 24, 40, 0.4) !important; }
  body .cart-contanier {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    body .cart-contanier .cart-items {
      background-color: #fdfffc;
      width: 85%;
      margin-left: 14%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 3rem;
      margin-bottom: 1rem; }
      body .cart-contanier .cart-items .deleted {
        animation: fade-out-bck 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes fade-out-bck {
  0% {
    transform: translateZ(0);
    opacity: 1; }
  100% {
    transform: translateZ(-80px);
    opacity: 0; } }
      body .cart-contanier .cart-items .wrapper {
        width: 70%; }
        body .cart-contanier .cart-items .wrapper .cart-item-container {
          width: fit-content;
          height: fit-content;
          border: 1px solid gray;
          display: grid;
          grid-template-columns: 15% 1fr 8%;
          grid-template-rows: 1fr;
          gap: 5rem;
          padding: 1rem 0;
          margin: 0 1rem 10px 1rem;
          grid-template-areas: "img innerDiv price"; }
          body .cart-contanier .cart-items .wrapper .cart-item-container .inner-div {
            grid-area: innerDiv;
            display: flex;
            justify-items: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 1rem;
            margin-left: 1rem;
            align-self: end; }
            body .cart-contanier .cart-items .wrapper .cart-item-container .inner-div .remove-icon-div {
              width: 100%; }
              body .cart-contanier .cart-items .wrapper .cart-item-container .inner-div .remove-icon-div .ui-spinner-input {
                margin: 0 !important;
                width: 50px; }
            body .cart-contanier .cart-items .wrapper .cart-item-container .inner-div h4 {
              align-self: end;
              margin-bottom: 1rem; }
          body .cart-contanier .cart-items .wrapper .cart-item-container img {
            width: 150px;
            height: 150px;
            margin: 0 1rem;
            grid-area: img;
            align-self: center; }
          body .cart-contanier .cart-items .wrapper .cart-item-container .cart-item-p-price {
            grid-area: price;
            justify-self: start;
            align-self: center;
            font-size: 0.9rem;
            padding-right: 3rem;
            margin-left: -2rem;
            font-size: 0.9rem; }
      body .cart-contanier .cart-items .price-container {
        width: 30%;
        height: 30%;
        position: sticky;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-right: 1rem;
        border: 1px solid gray; }
        body .cart-contanier .cart-items .price-container .price-inner-div {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 0.3rem; }
          body .cart-contanier .cart-items .price-container .price-inner-div div {
            display: flex;
            justify-content: space-between;
            margin: 0 .5rem;
            color: #343a40;
            font-size: 0.9rem;
            font-weight: 200; }
            body .cart-contanier .cart-items .price-container .price-inner-div div .free {
              color: #06d6a0 !important; }
        body .cart-contanier .cart-items .price-container .final-price {
          display: flex;
          width: 100%;
          justify-content: space-between;
          padding: 0 .5rem;
          font-weight: 400; }
        body .cart-contanier .cart-items .price-container a {
          padding: 7px;
          margin-bottom: 1rem;
          font-size: 0.9rem;
          font-weight: 200;
          background-color: #093443;
          color: #A1E6F6;
          border-radius: 3px;
          transition: all 150ms ease-in-out; }
          body .cart-contanier .cart-items .price-container a:hover {
            cursor: pointer;
            background-color: #A1E6F6;
            color: #093443; }
      body .cart-contanier .cart-items .cart-empty-svg {
        height: 59%;
        width: 70%; }
      body .cart-contanier .cart-items .cart-empty-h1 {
        color: #ef476f;
        margin-bottom: 0.7rem;
        font-size: 1.5rem; }
      body .cart-contanier .cart-items .cart-empty-p {
        font-size: 1.1rem;
        text-align: center;
        margin-bottom: 2rem; }
      body .cart-contanier .cart-items .cart-empty-btn {
        margin-bottom: 5rem;
        text-decoration: none;
        padding: .6rem 1.4rem;
        font-size: 1rem;
        border: 1px solid #4B3FD7;
        color: #4B3FD7;
        box-shadow: -11px 10px 13px -1px rgba(0, 0, 0, 0.31);
        transition: all ease 150ms; }
        body .cart-contanier .cart-items .cart-empty-btn:hover {
          background-color: #4B3FD7;
          color: white; }
  body .checkout-container {
    width: 85%;
    background-color: #fdfffc;
    margin-bottom: 14vh; }
    body .checkout-container h1 {
      padding: 0.7rem;
      width: 100%;
      border: 1px solid gray;
      cursor: pointer;
      margin-bottom: 1.5rem; }
    body .checkout-container .form-body {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      overflow: hidden; }
      body .checkout-container .form-body span {
        color: #db222a;
        font-size: 1.3rem; }
      body .checkout-container .form-body div {
        display: flex;
        width: fit-content; }
      body .checkout-container .form-body img {
        width: 35%;
        margin-left: -30%;
        transform: translate(-15%, 0);
        z-index: 1; }
      body .checkout-container .form-body form {
        width: 100%;
        display: flex !important;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 3rem !important;
        gap: 1rem;
        margin-bottom: 4rem;
        z-index: 4; }
        body .checkout-container .form-body form .validation-failure {
          border-color: #ef476f; }
        body .checkout-container .form-body form div {
          width: 50%;
          display: flex;
          justify-content: space-between;
          gap: 0.3rem; }
          body .checkout-container .form-body form div label {
            padding-right: 5rem; }
          body .checkout-container .form-body form div input {
            margin-right: 3rem;
            width: 200px;
            display: inline-block; }
        body .checkout-container .form-body form .submit {
          padding: 7px;
          margin: 1rem 0;
          font-size: 0.9rem;
          font-weight: 200;
          background-color: #093443;
          color: #A1E6F6;
          border-radius: 3px;
          transition: all 150ms ease-in-out; }
          body .checkout-container .form-body form .submit:hover {
            cursor: pointer;
            background-color: #A1E6F6;
            color: #093443; }
  body #emptyCart {
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  body #loadingContainer {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem; }
    body #loadingContainer h1 {
      color: #f5f5f5;
      font-size: 1.6rem;
      font-weight: 300; }

footer {
  background-color: rgba(11, 24, 40, 0.3);
  transition: background-color ease-in-out 200ms;
  z-index: 5; }
  footer:hover {
    background-color: #0b1828 !important; }

@media screen and (min-width: 700px) {
  .cart-items {
    margin-left: 0 !important; } }

@media screen and (max-width: 1000px) {
  .cart-items {
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important; }
    .cart-items .wrapper {
      width: 100% !important; }
    .cart-items .price-container {
      margin: 10px 1rem 6rem 1rem !important;
      width: calc(100% - 1rem) !important;
      transition: margin-bottom 100ms ease-in; }
    .cart-items .remove-margin-bottom {
      margin-bottom: 2rem !important; }
  .inner-div {
    margin-left: 3rem !important; }
  footer {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important; } }

@media screen and (max-width: 700px) {
  nav {
    position: fixed !important;
    z-index: 2 !important; }
  article {
    display: flex;
    flex-direction: column; }
  .cart-items {
    justify-content: center;
    align-items: center; }
  .cart-item-container {
    width: 85% !important;
    display: flex !important;
    flex-direction: column;
    padding: 0 !important;
    gap: 1rem !important;
    display: flex;
    justify-content: center;
    align-items: center; }
    .cart-item-container .cart-item-p-price {
      margin-left: 0 !important;
      align-self: center !important;
      padding-bottom: 1rem; }
  .checkout-container {
    margin-left: 4rem !important; }
    .checkout-container .form-body {
      width: 100% !important; }
    .checkout-container img {
      display: none; }
    .checkout-container div {
      width: 90% !important; }
      .checkout-container div label {
        width: fit-content !important; }
      .checkout-container div input {
        width: 200px !important; }
  footer {
    position: fixed !important; } }
