body {
  background: none, url("./../../assets/orderConf.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  width: 100% !important;
  position: relative; }
  body section {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40%;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center; }
    body section article {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: space-between; }
      body section article div {
        text-align: center; }
      body section article div:nth-child(1) {
        padding-top: 1rem;
        font-size: 1.2rem;
        color: #2d6a4f; }
      body section article div:nth-child(2) {
        line-height: 1.1rem; }
        body section article div:nth-child(2) p:first-child {
          padding-bottom: 2rem; }
        body section article div:nth-child(2) a {
          color: #4B3FD7;
          font-weight: 500;
          cursor: pointer; }
          body section article div:nth-child(2) a:hover {
            text-decoration: underline #4B3FD7;
            background-color: #118ab2 !important; }
      body section article div:nth-child(3) {
        padding-bottom: 3rem; }
        body section article div:nth-child(3) a {
          text-decoration: none;
          padding: .6rem 1.4rem;
          font-size: 1rem;
          border: 1px solid #4B3FD7;
          color: #4B3FD7;
          box-shadow: -11px 10px 13px -1px rgba(0, 0, 0, 0.31);
          transition: all ease 150ms; }
          body section article div:nth-child(3) a:hover {
            background-color: #4B3FD7;
            color: white; }

@media screen and (max-width: 700px) {
  section {
    width: 70% !important;
    height: 50% !important;
    margin-left: 2.5rem; } }
