@mixin center-all {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin gradient-background {
    background: linear-gradient(to right, rgba(189, 195, 199, 0.1), rgba(249, 220, 196, 0.2)), url("../../assets/hero.jpg");
    background-size: cover;
    background-position: center;
}

@mixin delete-animations {
    animation: fade-out-bck 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    @keyframes fade-out-bck {
        0% {
            transform: translateZ(0);
            opacity: 1;
        }
        100% {
            transform: translateZ(-80px);
            opacity: 0;
        }
    }
}

@mixin a-btn {
    text-decoration: none;
    padding: .6rem 1.4rem;
    font-size: 1rem;
    border: 1px solid $purpile-blue;
    color: $purpile-blue;
    box-shadow: -11px 10px 13px -1px rgba(0, 0, 0, 0.31);
    transition: all ease 150ms;
    &:hover {
        background-color: $purpile-blue;
        color: white;
    }
}

@mixin box-shadow {
    -webkit-box-shadow: -6px 7px 9px 2px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: -6px 7px 9px 2px rgba(50, 50, 50, 0.55);
    box-shadow: -6px 7px 9px 2px rgba(50, 50, 50, 0.55);
}