$transparent-white: rgba(255, 255, 255, 0.1);
$some-space: 25px;
$corner: 12px;
$main-color: #fdfffc;
$sucess: #06d6a0;
$faliure: #ef476f;
$warning: #ffd166;
$chill-blue: #118ab2;
$purpile-blue: #4B3FD7;
$dark-gray: #343a40;